$dark-green: #1F3753;
$green: #C2FF30;
$grey-green: #A4C9B4;
$light-grey: #F8F8F8;
$light-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$bold-font: 'Anton', sans-serif;
$light-font: 'Questrial', sans-serif;
$gradient: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$grey-gradient: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
html, body { 
    height: 100%;
    background-color: $light-grey;
  }
  a, .distance, .challenge-label, #text {
      text-decoration: none;

  }
.logo {
    background-image: url(../Racr-logo_horizontalfull.svg);
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin: auto;

}
.racr-nav-icon {
    background-image: url(../Racr-logo_graphic_grey.svg);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin: auto;

}
.navWrapper {
    height: 102vh;
    background-color: $dark-green;
    padding: 1.5rem;
    float: left;
    position: fixed;
}
.navLink {
    color: $green;
    text-decoration: none;
    line-height: 45px;
    display: block;
    text-align: center;
}
.navLink:hover {
    color: $light-grey;
}

#profilePage {
    background-image: $gradient; 
    color: $dark-green; 
    padding: 2rem; 
    height: 100vh;     
    width: 100%;
    float: left;
    input {
        color: $dark-green;
        font-size: 16px;
    }
    #searchFriend {
        position: absolute;
        margin-left: -30px;
        margin-top: 2px;
        background: transparent;
        border: none;
    }
}
.loginWrap, .registerWrap {
    background-image: url('../Top-Running-Wallpaper.jpg');
    background-position: 20%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-size: cover;
    background-color: $dark-green;
    background-blend-mode: soft-light;
    min-height: 100vh;

    a{
        color: white;
        text-decoration: none;
        text-align: center;
    }
}
#login, #register {
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 5px;
    //background-color: $dark-green;
    color: $green;
    box-shadow: $box-shadow;
}
#submitButton {
    width: 80%; 
    margin: auto; 
    background-color: $green; 
    margin-top: 20px; 
    border: none; 
    font-family: $light-font; 
    padding:5px; 
    margin-left: 10%; 
    font-size: 20px;
    border-radius: 2em;
    color: $dark-green;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
    transition: all 0.3s;
    a {
        text-decoration: none;
        color: $dark-green;
    }

}
#submitButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
label {
    width: 100%; 
    text-align: center; 
    display: block; 
    padding-top: 20px; 
    font-family: $light-font;
}
.inputWrap {
    width: 50%;
    display: inline-block;
}

input {
    width: 80%; 
    margin-left: 10%;
    background: rgba(#fff, .3);
    border: none;
    border-radius: 2em;
    color: white;
    padding-left: 5px;
}
#imageUpload {padding-left: 0px;}
.registerLink, .signinLink {
    padding-top: 10px;
    text-align: center;
    a{
    color: $green; 
    font-weight: 500; 
    font-family: $light-font;
    transition: all 0.3s 

    }
    a:hover{color: white;}
}
.profileImage {
    height: 150px; 
    width: 150px; 
    margin: auto; 
    margin-top: 20px;
}
.imgSrc {
    height: 100%; 
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}
.profileInfo {
    background-color: $dark-green;
    padding-top: 85px;
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;
    margin-top: -75px;
}



.profileUserName {text-align: center; color: $green; font-family: $bold-font;}
.profileName {text-align: center; color: white; font-family: $light-font;}
.profileLocation {width: fit-content; margin: auto; text-align: center; color:$dark-green;  font-family: $light-font; font-size: 10px;}
.profileRunType {text-align: center; color: white; font-family: $light-font;}
.profileUserName {text-align: center; color: $green; font-weight: 500;}
.profileName {text-align: center; color: white;}
.locationWrap {position: absolute; margin: auto; margin-top: -20px;
    margin-left: 3%; width: 150px; background-color:$light-grey; padding: 5px; border-radius: 15px; margin-left: -1px;} 


#challengeModal{
    padding: 1rem 3rem;
    float: right;
    background-color: white;
    border-radius: 5px;
    margin: 5%;
    margin-left: 15%;

}
.challenge-form {
    background-color: white;
    padding: 4rem 2rem;
    box-shadow: $light-box-shadow;
    border-radius: 5px;
    

    input {
        border-bottom: 1px solid $green;
        width: 100%;
        display: inline-block;
        margin-left: 10px;
        color: $dark-green;
    }
    input:placeholder {
        color: $dark-green;
    }
    .challenge-label {
        width: 80%;
        margin: auto;
        display: inline-block;
    }
    #distance-metric {
        float: right;
        margin-top: -30px;
    }
    p {
        font-size: 30px;
    }

}



#add-friend-btn {
    background-color: $green;
    padding: 5px;
    border-radius: 100%;
    border: none;
    height: 70px;
    width: 70px;
    transition: all .3s;
    position: absolute;
    margin-top: 40px;
    margin-left: -40px;
}
#add-friend-btn:hover {
    box-shadow: $box-shadow;
}
#challenge-friend-btn {
    background-image: url('../running-shoe.svg');
    height: 40px;
    width: 40px;
    border: none;
    background-repeat: no-repeat;
    padding: 5px;
    margin-right: 20%;
    margin-top: -40px;
    display: inline-block;
    float: right;
}
.friendPage {
    width: 80%;
    margin: auto;
    margin-left: 15%;
}
.friendCard {
    background-color: white;
    width: 35%;
    display: inline-block;
    border-radius: 5px;
    box-shadow: $light-box-shadow;
    margin: 2rem;

}
.challengePlayerImg {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    margin-left: -30px;
    margin-bottom: -1%;
}
.playerImg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -3%;
}
.city {
    text-align: center;
    display: inline-block;
    margin: 5px;
}
.friendUserName {
    display: inline-block;
    color: $dark-green;
    margin-left: 5px;
}
.responseButtonWrap {
    width: 100%;
}
#responseButton {
    width: 48%;
    display: inline-block;
    background-color: $green;
    margin: 5% 1%;
    border: none;
    border-radius: 10px;
    transition: all .3s;
    color: $dark-green;
    font-size: 20px;

    a {
        text-decoration: none;

    }
}
#responseButton:hover {
    box-shadow: $light-box-shadow;
    border-radius: 10px;

}
.location-wrap {
    padding: 3rem;
}
#location-data {
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 2rem;
}
.racePage {
    padding: 3rem;
    label {
        text-align: left;
        display: inline-block;
        width: fit-content;
    }
}
.raceCard {
    padding: 3rem;
    width: 75%;
    float: right;
    border-radius: 5px;
    box-shadow: $light-box-shadow;
    background-color: white;
    .lat, .long, .dist {
        display: inline-block;
        width: fit-content;
        margin: 0 5px;
        font-weight: 700;
    }
}
.inactive {
    display: none;
}
.active {
    display: block;
}

#notify-wrap {
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
}
#notify-count {
    background: red;
    padding: 3px;
    border-radius: 100%;
    font-size: 10px;
    color: white;
    font-weight: 900;
}
.friend-list {
    margin-left: 60px;
}
.opponentName, .distance {
    display: inline-block;
    padding: 0px 3px;
    color: $dark-green;
    font-weight: 700;
}
.timewrap {
    display: inline-block;
    width: 27%;
    padding: 22px 13px;
}
@media screen and (max-width: 633px) {
    #login {
        width: 80%;
    }
    .navWrapper {
        padding: 1.5rem;
        height: 25px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .small-logo {
        margin-bottom: -5px;
    }
    .navLink {
        display: inline-block;
        width: 19%;
        margin-left: -2%;
        margin-top: -20px;
    }
    
    .navLink:first-of-type {
        margin-left: -2%;
    }
    #profilePage {
        width: 100%;
        padding: 0px;
        padding-top: 20px;
    }
    #challengeModal {
        margin: 5%;
        padding: 1rem;
    }
    .challenge-form {
        padding: 2rem;
    }
    .timewrap {
        display: inline-block;
        padding: 22px 13px;
        width: 90%;
        margin-left: -5%;
    }
    .friendCard {
        width: 100%;
        margin: auto;
        margin: 1rem;
    }
    .friendPage {
        margin-left: 5%;
        width: 80%;
    }
    .challengePlayerImg {
        margin-left: 0px;
    }
}